.navbar-menu__link{
    margin-left: 45px;
}
.navbar-menu__logo{
    width: 57px;
}
.navbar{
    padding: 0;
}

.navbar-expand .navbar-nav .nav-link{
    padding-right: 3.5rem;
    padding-left: 2.5rem;
}


.navbar-expand .navbar-nav .nav-link{
    line-height: 4rem;
}
.navbar-menu__container{
    margin-left: 6%;
    display: flex;
}

.nav-link.active{
    background: blue;
}
