.login-form__link{
    color:grey;
}
.login-form__container{
    max-width: 1500px;
    margin: 30px auto;
    margin-left: 7%;
}
.login-form__card{
    position: relative; 
    padding: 2rem;
    margin-top: 2%;
    border: .2rem solid #ececec;
    border-radius: 8px;
}
.login-form__link:Hover{
    text-decoration: none;
    color: black;
}
.login-form__group .row{
    align-items: baseline;
}
.login-form__card input{
    color: grey;
}
.login-form__group input{
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    padding-left: 15px;
}
.login-form__required{
    color: red;
}